* {
    box-sizing: border-box;
  }
  .mySwiper {
  }
  .mySwiper .swiper-slider-parent {
    position: relative;
    width: 50%;
    min-width: 300px;
  }
  .mySwiper .swiper-slider-parent::before {
    background-color: rgba(0, 0, 0, 0.35);
    bottom: 0;
    content: "";
    display: inline-block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    border-radius: 0 0 5px 5px;
  }
  .mySwiper .swiper-slider-parent img {
    display: block;
    width: 100%;
    height: 360px;
    border-radius: 0 0 5px 5px;
  }
  .mySwiper .swiper-slider-parent .slider-inner-info {
    position: absolute;
    left: 15px;
    right: 15px;
    top: 50%;
    text-align: center;
    transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    animation-duration: 0.6s;
    z-index: 2;
    color: #fff;
  }
  .slider-inner-info .slider-read-btn{
      border: 1px solid #fff;
      color: #fff;
      padding: 8px 18px;
      background-color: rgba(0, 0, 0, 0);
      z-index: 3;
      cursor: pointer;
  }