.footer {
    padding-top: 0px;
    background: url(http://localhost:3000/static/media/bg-footer3.cd8f2ad18903e3c37a8d.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    /* height: 300px; */
}
#footer{
    color: #fff;
}
.footer .footer-logo{}
.footer .footer-logo img{}
.footer .title{}
.footer .list-icon{
    padding-left: 0;
    margin: 0;
}
.footer .list-icon li{
    list-style: none;
    display: block;
}
.footer .list-icon li span{
}
.footer .list-icon li span .icon{
    color: #d4212a;
    font-size: 20px;
    margin-right: 5px;
}