.section-title {
    padding-left: 85px;
    margin-bottom: 0;
    position: relative;
  }
  .section-title .icon {
    background-color: #d4212a;
    width: 50px;
    height: 50px;
    line-height: 48px;
    -webkit-box-shadow: 0 0 0 5px rgba(201, 179, 140, 0.2);
    box-shadow: 0 0 0 5px rgba(201, 179, 140, 0.2);
    border-radius: 50%;
    text-align: center;
    position: absolute;
    left: 5px;
    top: 7px;
  }
  .section-title .icon .go-home-icon {
    color: #fff;
    font-size: 30px;
  }
  .section-title > span {
    font-family: "Montserrat", sans-serif;
  
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: 700;
    color: #d4212a;
    text-transform: uppercase;
    display: block;
    margin-bottom: 0.5em;
    margin-top: -0.3em;
  }
  .section-title h2 {
    font-family: "Roboto Slab", serif;
    color: #d4212a;
    font-size: 36px;
    font-size: 2.25rem;
    margin: 0 0 0.69em;
    line-height: 1.19em;
    position: relative;
    text-transform: capitalize;
  }
  .section-title p {
    font-family: "Montserrat", sans-serif;
  
    margin-bottom: 1.5em;
  }
  .about-section .left-col {
    margin-top: 70px;
  }
  .about-section .mid-col {
    position: relative;
    width: 100%;
    height: auto;
  }
  .about-section .mid-col img {
    position: relative;
    width: 355px;
    width: 100%;
  }
  .about-section .right-col {
    padding-top: 35px;
  }
  .about-section .right-col p {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #687693;
    line-height: 1.7em;
  }
  
  .about-section .quoter {
    padding: 20px 0;
  }
  .about-section .quoter h4 {
    font-family: "Poppins", sans-serif;
  
    font-size: 18pc;
    font-size: 1.125rem;
    font-weight: 400;
    margin: 0 0 0.3em;
  }
  .about-section .quoter span {
    font-family: "Montserrat", sans-serif;
  
    font-size: 13px;
    font-size: 0.8125rem;
  }